.section-title h1 {
  font-size: 90px;
  color: var(--navy);
  margin: 0;
  position: relative;
  z-index: 1;
  opacity: 0.8;
  letter-spacing: 1px;
}

.section-title p {
  margin: 0;
  position: relative;
  z-index: 2;
  color: var(--white);
  font-weight: bold;
  font-size: 26px;
  top: -65px;
  letter-spacing: 2px;
  opacity: 0.8;
}

.section-title.type1 h1 {
  color: #3a4a5e;
}

.section-title.type1 p {
  color: var(--white);
}

@media (max-width: 992px) {
  .section-title h1 {
    font-size: 60px;
  }

  .section-title p {
    top: -50px;
    opacity: 0.5;
  }
}

@media (max-width: 350px) {
  .section-title.type1 p {
    font-size: 15px;
  }

  .section-title.type1 h1 {
    font-size: 30px;
  }
}
