.popup-template .modal {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  top: -200%;
  transition: all 0.5s ease;
  margin: auto;
}

.popup-template .overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(2, 55, 85, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.popup-template .modal .modal-content {
  margin: auto;
  background-color: var(--navy);
  border-radius: 10px;
  box-shadow: 0 0 10px #eee;
  height: 400px;
  overflow-y: auto;
  padding: 30px;
}

.popup-template.active .modal {
  top: 10%;
}

.popup-template.active .overlay {
  opacity: 1;
  pointer-events: all;
}

.popup-template .close {
  height: 40px;
  width: 40px;

  position: relative;
  left: 48%;
  top: 0px;
}

.popup-template .close:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.popup-template .modal .modal-content p,
.popup-template .modal .modal-content h1,
.popup-template .modal .modal-content h3,
.popup-template .modal .modal-content h4 {
  margin: 10px 0;
}

.popup-template .work-popup .role {
  font-size: 25px !important;
}

.popup-template .work-popup .company {
  font-size: 18px !important;
  padding-top: 10px;
}

.popup-template .guvi-popup .projects {
  padding-top: 10px;
}

.popup-template .work-popup.d-flex {
  gap: 30px;
}

.popup-template .work-popup .section-1 {
  position: relative;
  top: -50px;
}

.popup-template .work-popup .responsibilities {
  padding-top: 20px;
}

.popup-template .work-popup .projects .project-list {
  display: flex;
  flex-wrap: wrap;
}

.popup-template .modal .modal-content::-webkit-scrollbar {
  width: 5px;
}

.popup-template .modal .modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.popup-template .modal .modal-content::-webkit-scrollbar-thumb {
  background: #8cbce3;
}
.popup-template .modal .modal-content::-webkit-scrollbar-thumb:hover {
  background: #7aaed8;
}

@media (min-width: 992px) {
  .popup-template .modal .modal-content {
    max-width: 900px;
  }

  .popup-template .work-popup .section-1 {
    flex: 0 0 25%;
  }
}

@media (max-width: 992px) {
  .popup-template .work-popup.d-flex {
    gap: 0;
    flex-direction: column;
  }

  .popup-template .work-popup .section-1 {
    top: -35px;
  }

  .popup-template .modal .modal-content {
    margin: 20px;
  }
}
