#cv {
  background-color: var(--navy);
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

#cv .basic-button {
  width: max-content !important;
}

#cv a {
  text-decoration: none;
}

@media (max-width: 400px) {
  #cv .basic-button button {
    max-width: 70%;
  }
}
