#about {
  background-color: var(--light-navy);
  padding: 50px 0 80px 0;
  scroll-margin-top: 60px;
}

#about .text-section {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#about .text-section p {
  margin: 0;
  padding: 15px 0;
  font-size: 20px;
}

#about .text-section .sub1 {
  flex: 0 0 40%;
}

#about .text-section .sub2 {
  flex: 0 0 40%;
}

#about .text-section .sub2 li {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid var(--navy);
  border-bottom-style: dashed;
}

#about .text-section .sub2 li p:first-child {
  color: #3a4a5e;
  font-weight: 800;
  width: 45%;
  word-break: break-all;
}

#about .text-section .sub2 li p:nth-child(2) {
  color: var(--white);
  font-weight: 500;
  width: 55%;
  word-break: break-all;
}

@media (max-width: 992px) {
  #about {
    padding: 50px 30px 50px 30px;
    scroll-margin-top: 30px;
  }

  #about .text-section {
    flex-direction: column;
  }

  #about ul {
    padding-left: 0;
  }

  #about .text-section p {
    padding: 10px 0;
  }

  #about .text-section .sub2 li p:first-child {
    width: 40%;
  }

  #about .text-section .sub2 li p:nth-child(2) {
    width: 60%;
  }
}
