:root {
  --white: #fff;
  --black: #000;
  --navy: #021b3b;
  --site-width: 1200px;
  --light-navy: #6f92bf;
  --teal: #01f6ff;
  --CrossmintGreen: #04aa6d;
  --linkedinBlue: #0077b5;
  --pinterestRed: #ea4c89;
  --nandor: #525352;
  --whatsappGreen: #25d366;
  --redCrimson: #da3030;
}

.text-white {
  color: var(--white) !important;
}

.text-navy {
  color: var(--navy) !important;
}

.text-light-navy {
  color: var(--light-navy) !important;
}

.text-teal {
  color: var(--teal) !important;
}

.text-crossmint-green {
  color: var(--CrossmintGreen) !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.font-16 {
  font-size: 16px !important;
}

.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.trans-btn {
  outline: none;
  border: none;
  background-color: transparent;
}

.trans-btn:hover {
  cursor: pointer;
}

.text-decoration-none {
  text-decoration: none !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

body {
  margin: 0;
  font-family: cursive;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

@media (min-width: 1300px) {
  .container {
    max-width: var(--site-width);
    margin: auto;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .d-lg-block {
    display: block !important;
  }

  .text-center-tab {
    text-align: center !important;
  }
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #036a7a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0569bb;
}
